<?xml version="1.0" encoding="utf-8"?>
<manifest
        xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.treelev.isimple"
        android:installLocation="preferExternal">
    <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="16"/>
    <uses-feature
            android:glEsVersion="0x00020000"
            android:required="true"/>
    <permission android:name="com.treelev.map.permission.MAPS_RECEIVE" android:protectionLevel="signature"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.treelev.map.permission.MAPS_RECEIVE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:name=".app.ISimpleApp"
                 android:theme="@style/iSimpleStyle">
        <activity android:name=".activities.CatalogListActivity" android:screenOrientation="portrait">
            <meta-data
                    android:name="android.app.default_searchable"
                    android:value=".activities.SearchResultActivity"/>
        </activity>
        <activity android:name=".activities.CatalogByCategoryActivity" android:screenOrientation="portrait">
            <meta-data
                    android:name="android.app.default_searchable"
                    android:value=".activities.SearchResultActivity"/>
        </activity>
        <activity android:name=".activities.ProductInfoActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activities.filter.DefaultListFilterActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activities.SearchResultActivity"
                  android:launchMode="singleTop"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
            <meta-data
                    android:name="android.app.searchable"
                    android:resource="@xml/searchable"/>
        </activity>
        <activity android:name=".activities.filter.DefaultListFilterActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activities.CatalogSubCategory" android:screenOrientation="portrait"/>
        <activity android:name=".activities.CatalogSubCategoryTree" android:screenOrientation="portrait"/>
        <activity android:name=".activities.filter.ExpandableListFilterActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activities.ShopsFragmentActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activities.ShopInfoActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activities.ChainStoresActivity" android:screenOrientation="portrait"/>
        <meta-data android:name="com.google.android.maps.v2.API_KEY"
                   android:value="AIzaSyBQrOUV3EyWZ8wgT23_IUO-Z6u3hCq8G3A"/>
        <activity android:name=".activities.FavoritesActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activities.RouteDisplayActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activities.ShoppingCartActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activities.SplashActivity" android:launchMode="singleTop" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="org.acra.CrashReportDialog"
                  android:theme="@android:style/Theme.Dialog"
                  android:launchMode="singleInstance"
                  android:excludeFromRecents="true"
                  android:finishOnTaskLaunch="true" />
        <activity android:name=".activities.ProductImageActivity" android:launchMode="singleTop" android:screenOrientation="portrait"/>
        <!--<activity android:name=".activities.TestParsingActivity">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN"/>-->
                <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        <!--</activity>-->
        <uses-library android:name="com.google.android.maps"/>
        <service android:name=".service.DownloadDataService" android:process=":isimple_update_service" />
        <service android:name=".service.UpdateDataService" android:process=":isimple_update_service" />
    </application>
</manifest>
